@model AppData.ViewModels.GioHangCTViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Giỏ hàng</h1>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="ThanhToan" asp-action="Index">Hóa đơn</a>
</li>
<table class="table">
    <thead>
        <tr>
            <th>
                Ảnh sản phẩm
            </th>
            <th>Tên sản phẩm</th>
            <th>Giá sản phẩm</th>
            <th>Số lượng</th>
            <th>Tổng tiền</th>
            <th>Tính năng</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.gioHangCTs) 
{
        <input type="hidden" name="gioHangCTs[@(Model.gioHangCTs.IndexOf(item))].Id" value="@item.Id"/>
        <tr>
            <td>
                    @{
                        var extension = System.IO.Path.GetExtension(@item.SanPham.AnhSP); // Lấy đuôi ảnh
                    }
                    @if (@extension.Contains(extension))
                    {
                        <img src="~/img/@item.SanPham.AnhSP" width="200px">
                    }
                    else
                    {
                        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.facebook.com%2Finternetexplorerbeta%2Fposts%2Fanh-li%25C3%25AAm-gi%25C3%25A0nh-cup-v%25C3%25A0ng-th%25E1%25BB%2583-hi%25E1%25BB%2587n-%25C4%2591%25E1%25BA%25B3ng-c%25E1%25BA%25A5p-out-tr%25C3%25ACnh-to%25C3%25A0n-b%25E1%25BB%2599-c%25C3%25A1c-%25C4%2591%25E1%25BB%2591i-th%25E1%25BB%25A7-%25C4%2591%25E1%25BA%25BFn-t%25E1%25BB%25AB-n%2F728945255938708%2F&psig=AOvVaw2HlyEieUFs1K1YDTZcAllt&ust=1711695350707000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKCm15ywloUDFQAAAAAdAAAAABAE">
                    }
            </td>
            <td>
                @item.SanPham.TenSP
            </td>
            <td>
                @item.SanPham.GiaSP
            </td>
            <td>
                   @item.SoLuong
            </td>
            <th>
                @((item.SanPham.GiaSP * item.SoLuong).ToString("c"))
            </th>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <td>Tổng tiền : @Model.TongTiens()</td>
            <td>
                <div class="col-md-12">
                    <div>
                        <a href="#" class="btn btn-danger">Xóa</a>
                        <a href="/GioHang/CheckOut" class="btn btn-success">Thanh Toán</a>
                    </div>
                </div>
            </td>
        </tr>
      
    </tfoot>
</table>
<form action="@Url.Action("AddHoaDon","ThanhToan")" method="post">

    @* <input type="hidden" name="cartDetail" value="model" /> *@
    <button type="submit" class="btn btn-primary">Thanh Toán</button>
</form>
