@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AppData.ViewModels.SanPhamViewModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Dashboard</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	<style>
		body {
			display: flex;
			height: 100%;
			margin: 0;
		}

		.sidebar {
			width: 250px;
			background-color: #343a40;
			color: white;
			flex-shrink: 0;
			display: flex;
			flex-direction: column;
			padding: 20px;
		}

			.sidebar .nav-link {
				color: white;
				margin: 10px 0;
			}

				.sidebar .nav-link.active {
					background-color: #495057;
					border-radius: 5px;
				}

		.content {
			flex-grow: 1;
			padding: 20px;
			background-color: #f8f9fa;
			overflow-y: auto;
		}

			.content h2 {
				margin-top: 0;
			}
	</style>
</head>
<body>
	<div class="d-flex">
		<div class="sidebar d-flex flex-column">
			<h4>Admin quản lý</h4>
			<ul class="nav nav-pills flex-column mb-auto">
				<li class="nav-item">
					<a class="nav-link" asp-controller="TaiKhoan" asp-action="Index">
						<i class="fas fa-users"></i> Quản lý Tài Khoản
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" asp-controller="SanPham" asp-action="Index" aria-current="page">
						<i class="fas fa-box"></i> Quản lý sản phẩm
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-controller="ThanhToan" asp-action="QlHoaDon">
						<i class="fas fa-shopping-cart"></i> Quản lý đơn hàng
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link  " asp-controller="DanhMuc" asp-action="Index">
						<i class="fas fa-list"></i> Quản lý danh Mục
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fas fa-tachometer-alt"></i> Dashboard
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fas fa-cogs"></i> Cài đặt
					</a>
				</li>
				<li>
					<a class="nav-link" class="btn btn-outline" asp-controller="TaiKhoan" asp-action="LogOut">
						<i class="fas fa-sign-out-alt"></i> Đăng xuất
					</a>
				</li>
			</ul>
		</div>
		<div class="content">
			<h2>Quản lý sản phẩm</h2>
			<div class="d-flex">
				<p>
					<button type="button" class="btn btn-primary">
						<a class="text-decoration-none text-white" asp-action="Create">Thêm mới</a>
					</button>
				</p>
				@using (Html.BeginForm())
				{
					<div class="form-group form-inline">
						Tìm kiếm : @Html.TextBox("TimSP", "", new {@class="form-control"})
						<input type="submit" class="btn btn-default" value="Tìm kiếm" />
					</div>
				}
			</div>
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							@*<th>
								@Html.DisplayNameFor(model => model)
							</th>*@
							<th>
								@Html.DisplayNameFor(model => model.DanhSachSP)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.AnhSP)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.TenSP)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.GiaSP)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.MoTa)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.SoLuong)
							</th>
							@*<th>
								@Html.DisplayNameFor(model => model.ThuongHieu)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.TrangThaiSP)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.MauSacs)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Sizes)
							</th>*@
							<th>Tính năng</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.sanPhams)
						{
							<tr>
								@*<td>
									@Html.DisplayFor(modelItem => item.Id)
								</td>*@
								<td>
									@Html.DisplayFor(modelItem => item.DanhSachSP.TenDanhMuc)
								</td>
								<td>
									@{
										var extension = System.IO.Path.GetExtension(item.AnhSP); // Lấy đuôi ảnh
									}
									@if (@extension.Contains(extension))
									{
										<img src="~/img/@item.AnhSP" width="200px">
									}
									else
									{
										<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.facebook.com%2Finternetexplorerbeta%2Fposts%2Fanh-li%25C3%25AAm-gi%25C3%25A0nh-cup-v%25C3%25A0ng-th%25E1%25BB%2583-hi%25E1%25BB%2587n-%25C4%2591%25E1%25BA%25B3ng-c%25E1%25BA%25A5p-out-tr%25C3%25ACnh-to%25C3%25A0n-b%25E1%25BB%2599-c%25C3%25A1c-%25C4%2591%25E1%25BB%2591i-th%25E1%25BB%25A7-%25C4%2591%25E1%25BA%25BFn-t%25E1%25BB%25AB-n%2F728945255938708%2F&psig=AOvVaw2HlyEieUFs1K1YDTZcAllt&ust=1711695350707000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKCm15ywloUDFQAAAAAdAAAAABAE">
									}
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.TenSP)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.GiaSP)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.MoTa)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.SoLuong)
								</td>
								@*<td>
									@Html.DisplayFor(modelItem => item.ThuongHieu)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.TrangThaiSP)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.MauSacSP.TenMau)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.SizeSP.TenSize)
								</td>*@
								<td>
									<button type="button" class="btn btn-danger">
										<a class="text-decoration-none text-white" href="/SanPham/Update/@item.Id">Sửa</a>
									</button>
									<button type="button" class="btn btn-success">
										<a class="text-decoration-none text-white" href="/SanPham/Details/@item.Id">Chi Tiết</a>
									</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>